<h4 class="form-section"><span>Skills & Achievements</span><i class="clearfix"></i></h4>
<div class="row m-b-20">
    <div class="col-md-6" ng-controller="QualificationController">
        <qualification-field ng-repeat="(idx, qualification) in qualifications" qualification-id="{{qualification.id}}" qualification-idx="{{idx}}" count="{{qualifications.length}}" />
        <a class="btn btn-xs btn-success pull-right" ng-click="addQualificationFields()"><i class="fa fa-plus"></i> add more</a>
    </div>
    <div class="col-md-6" ng-controller="SkillController">
        <div class="row">
            <label class="col-md-7">Skill Name</label>
            <label class="col-md-5">Ratings</label>
        </div>
        <div class="row m-b-10" ng-repeat="(idx, skill) in skills">
            <div ng-include="'/angular/dashboard/directives/skill_fields.html'"></div>
        </div>
        <a class="btn btn-xs btn-success pull-right" ng-click="addSkillFields()"><i class="fa fa-plus"></i> add more</a>
    </div>
</div>