<div ui-view>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a></a>
                    </div>
                    <h4 class="panel-title">Customizer</h4>
                </div>
                <div class="panel-body">
                    <object id="html_preview" type="text/html" data="" style="width:100%; height:1000px">
                    </object>
                </div>
            </div>
        </div>
    </div>
    <resume-selection />
</div>