<div class="field-row m-b-10 chararacter-references-field">
    <div class="row">
        <div class="char-reference col-xs-12 p-10">
            <div class="col-xs-12 text-right">
                <a ng-if="count > 1" class="text-danger no-text-decoration pointer"
                   ng-click="deleteCharReference(character_reference_idx, character_references[character_reference_idx].id)"><i
                        class="fa fa-minus-circle"></i> delete</a>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group block1">
                            <label>First Name</label>
                            <input type="text" name="fname" ng-model="character_reference.fname" placeholder="John"
                                   class="form-control" ng-blur="saveCharReference()"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Middle Name</label>
                            <input type="text" name="mname" ng-model="character_reference.mname" placeholder="Melbourne"
                                   class="form-control" ng-blur="saveCharReference()"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="lname" ng-model="character_reference.lname" placeholder="Smith"
                                   class="form-control" ng-blur="saveCharReference()"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" ng-model="character_reference.title" placeholder="CEO"
                                   class="form-control" ng-blur="saveCharReference()"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" name="address" ng-model="character_reference.address"
                                   placeholder="123 6th St. Melbourne, FL 32904" class="form-control" ng-blur="saveCharReference()"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" name="phone" ng-model="character_reference.phone" placeholder="222-2222"
                                   class="form-control" ng-blur="saveCharReference()"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Mobile</label>
                            <input type="text" name="mobile" ng-model="character_reference.mobile"
                                   placeholder="09481234567" class="form-control" ng-blur="saveCharReference()"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" ng-model="character_reference.email"
                                   placeholder="john.smith@mail.com" class="form-control" ng-blur="saveCharReference()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>