<!-- begin row -->
<div class="row field-row">
    <!-- begin col-3 -->
    <div class="col-md-6">
        <div class="form-group">
            <input type="hidden" name="contacts[{{contact_idx}}].name" ng-model="contacts[contact_idx].name" ng-blur="saveContacts()">
            <select class="form-control contact_selection" data-parsley-no-focus data-parsley-group="wizard-step-1"  required>
                <option></option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group relative">
            <input type="text" name="contacts[{{contact_idx}}].value" ng-model="contacts[contact_idx].value" class="form-control contact_value border-radius-4" data-parsley-no-focus data-parsley-group="wizard-step-1" ng-blur="saveContacts()" required  />
            <a class="text-danger no-text-decoration pointer absolute" ng-click="deleteContact(contact_idx, contact_id)" ng-if="count > 1" style="top: 12px; right: 10px">
                <span class="fa fa-minus-circle text-danger"></span>
            </a>
        </div>
    </div>
</div>
