<div class="field-row m-b-10">
    <div class="row action-row">
        <div class="col-md-12">
            <div class="row text-right">
                <a ng-if="count > 1" class="text-danger no-text-decoration pointer" ng-click="deleteEducation(education_idx, educations[education_idx].id)"><i class="fa fa-minus-circle"></i> delete</a>
            </div>
            <div class="row field-row action-row">
                <div class="col-md-6">
                    <div class="row field-row">
                        <div class="col-md-12 form-group">
                            <label>Institute</label>
                            <input name="educations[{{education_idx}}].institute" ng-model="educations[education_idx].institute" class="form-control" data-parsley-no-focus data-parsley-group="wizard-step-4" required ng-blur="saveEducation()" />
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Degree Level</label>
                                <select name="educations[{{education_idx}}].degree_level" ng-model="educations[education_idx].degree_level" class="form-control" data-parsley-no-focus data-parsley-group="wizard-step-4" ng-options="item for item in degree_levels" required  ng-blur="saveEducation()" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Degree / Course</label>
                                <input name="educations[{{education_idx}}].degree" ng-model="educations[education_idx].degree" class="form-control" data-parsley-no-focus data-parsley-group="wizard-step-4" ng-disabled="educations[education_idx].degree_level == 'Primary' || educations[education_idx].degree_level == 'Secondary'"  ng-blur="saveEducation()" />
                            </div>
                        </div>
                    </div>
                    <div class="row field-row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label>Start</label>
                                <input type="text" name="educations[{{education_idx}}].start_date" ng-model="educations[education_idx].start_date" class="form-control start_date" data-parsley-no-focus data-parsley-group="wizard-step-3"  ng-blur="saveEducation()" required  />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label class="display-block">
                                    End  <span class="pull-right">I'm still studying here <input type="checkbox" ng-model="educations[education_idx].current" ng-value="1" /></span>
                                </label>
                                <input type="text" name="educations[{{education_idx}}].end_date" ng-model="educations[education_idx].end_date" class="form-control end_date" data-parsley-no-focus data-parsley-group="wizard-step-3"  ng-blur="saveEducation()" required ng-disabled="educations[education_idx].current"  />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Attachments:
                        </div>
                        <div class="col-md-6 text-right">
                          <button ngf-drop="uploadEducationSupportingDocs($files, educations[qualification_idx].id, education_idx)" 
                                      ngf-select="uploadEducationSupportingDocs($files, educations[education_idx].id, education_idx)"
                                class="btn btn-primary btn-xs"
                                 ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                 ngf-pattern="'image/*'">
                                <i class="fa fa-plus"></i> Add Attachments
                          </button>
                        </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12" ng-if="educations[education_idx].attachments.length">
                        <ul class="no-bullets p-0 m-0 m-t-5">
                            <li class="action-row relative" ng-repeat="(fileIdx, file) in educations[education_idx].attachments">
                                <a class="p-l-4 p-t-2 p-r-5 p-b-2" href="{{file.url}}" fancyboxable="fancyboxOptions">
                                    <span class="fa fa-paperclip"></span> <span ng-bind="file.data_file_name | cut:false:30:' ...'"></span>
                                </a>
                                 <span class="line-height-16 fa fa-minus-circle text-danger m-l-5" ng-click="deleteEducationAttachment(education_idx, fileIdx)"></span>
                            </li>
                        </ul>
                      </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row field-row">
                    <div class="col-md-12 form-group">
                      <label>Other Info</label>
                      <textarea rows="11" ng-model="educations[education_idx].other_info" class="form-control" data-parsley-no-focus data-parsley-group="wizard-step-4" ng-blur="saveEducation()"></textarea>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
