<div class="row m-b-10">
  <div class="col-xs-12 text-right">
     <a ng-if="count > 1" class="text-danger no-text-decoration pointer" ng-click="deleteQualification(qualification_idx, qualifications[qualification_idx].id)"><i class="fa fa-minus-circle"></i> delete</a>
  </div>
  <div class="col-xs-12">
      <div class="form-group">
          <label>Title</label>
          <input name="qualifications[{{qualification_idx}}].name" ng-model="qualifications[qualification_idx].name" class="form-control" data-parsley-group="wizard-step-3" ng-blur="saveQualification()" required>
          </input>
      </div>
      <div class="form-group">
          <label>Description</label>
          <textarea name="qualifications[{{qualification_idx}}].description" ng-model="qualifications[qualification_idx].description" class="form-control" data-parsley-no-focus data-parsley-group="wizard-step-3" ng-blur="saveQualification()" required>
          </textarea>
      </div>
  </div>
  <div class="col-xs-12">
      <div class="row">
          <div class="col-xs-6">
              <div class="form-group block1">
                  <label>Start</label>
                  <date-select ng-model="qualifications[qualification_idx].start_date"
                               ng-blur="saveQualification()"
                  />
              </div>
          </div>
          <div class="col-xs-6">
              <div class="form-group block1">
                  <label>End</label>
                  <date-select ng-model="qualifications[qualification_idx].end_date"
                               ng-blur="saveQualification()"
                  />
              </div>
          </div>
      </div>
  </div>

  <div class="col-xs-12" >
    <div class="row">
      <div class="col-md-6">
          Attachments:
      </div>
      <div class="col-md-6 text-right">
        <button ngf-drop="uploadQualicationSupportingDocs($files, qualifications[qualification_idx].id, qualification_idx)" 
              ngf-select="uploadQualicationSupportingDocs($files, qualifications[qualification_idx].id, qualification_idx)" 
              class="btn btn-primary btn-xs"
               ngf-drag-over-class="'dragover'" ngf-multiple="true"
               ngf-pattern="'image/*'">
              <i class="fa fa-plus"></i> Add Attachments
        </button>
      </div>
    </div>
    
    <div class="col-xs-12" ng-if="qualifications[qualification_idx].attachments.length">
      <ul class="no-bullets p-0 m-0 m-t-5">
          <li class="action-row relative" ng-repeat="(fileIdx, file) in qualifications[qualification_idx].attachments">
              <a href="{{file.url}}" fancyboxable="fancyboxOptions">
                  <span class="fa fa-paperclip"></span> <span ng-bind="file.data_file_name | cut:false:30:' ...'"></span>
              </a>
              <span class="line-height-16 fa fa-minus-circle text-danger m-l-5" ng-click="deleteQualificationAttachment(qualification_idx, fileIdx)"></span>
          </li>
      </ul>
    </div>
  </div>
</div>