<div id="resumeTemplateModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1 class="text-center text-white m-b-40">Please select your template</h1>
                <div class="flipster m-t-40">
                    <ul>
                        <li data-flip-title="template.template.name" data-flip-category="template.template.category" ng-repeat="template in template_details">
                            <img class="pointer" src="{{template.cover.medium}}" ng-click="setCurrentTemplate($index)" />
                        </li>
                    </ul>
                </div>
                <div class="input-group m-t-20 resume_name_field" ng-if="resume.template_id && resume.id == null">
                    <input type="text" ng-model="resume.name" class="form-control" placeholder="Give your resume a name">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" ng-click="createResume()">Continue</button>
                    </span>
                </div>
                <div class="form-group m-t-20 resume_name_field text-center" ng-if="resume.template_id && resume.id">
                    <button class="btn btn-secondary" type="button" ng-click="updateTemplate()">Update Template</button>
                </div>
            </div>
        </div>
    </div>
</div>