<div class="col-md-7">
  <input class="form-control" ng-model="skills[idx].name" placeholder="Skill"  data-parsley-no-focus data-parsley-group="wizard-step-4" ng-blur="saveSkills()" required />
</div>
<div class="col-md-3">
    <ng-rate-it ng-model="skills[idx].rate" max="5" resetable="false" />
</div>
<div class="col-md-2 text-right">
	<a class="text-danger pointer no-text-decoration pull-right" ng-if="skills.length > 1" ng-click="deleteSkill(idx, skill.id)"><i class="fa fa-minus-circle"></i> delete</a>
</div>