<div class="relative">
    <video id="video" class="video-js vjs-default-skin"></video>
    <div class="absolute bottom right">
        <button class="btn btn-xs btn-info" ng-if="videoData" ng-click="uploadVideo()"><span class="fa fa-save"></span> Save</button>
        <button class="btn btn-xs btn-danger" ng-if="videoData" ng-click="discardRecording()"><span class="fa fa-trash"></span> Discard</button>
        <button class="btn btn-xs btn-white" data-dismiss="modal"><span class="fa fa-close"></span> Cancel</button>
    </div>
</div>