<div class="field-row m-b-10">
  <div class="row action-row">
    <div class="col-xs-12 text-right">
      <a ng-if="count > 1" class="text-danger no-text-decoration pointer" ng-click="deleteWorkExperience(work_idx, work_experiences[work_idx].id)"><i class="fa fa-minus-circle"></i> delete</a>
    </div>  
    <div class="col-md-6">
      <div class="row field-row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label>Company</label>
                    <input type="text" name="work_experiences_{{work_idx}}_company_name" ng-model="work_experiences[work_idx].company_name" class="form-control" data-parsley-no-focus data-parsley-group="wizard-step-2" ng-blur="saveWorkExperience()" required  />
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label>Position</label>
                    <input type="text" name="work_experiences_{{work_idx}}_work_title" ng-model="work_experiences[work_idx].work_title" class="form-control" data-parsley-no-focus data-parsley-group="wizard-step-2" ng-blur="saveWorkExperience()" required  />
                </div>
            </div>
        </div>
        

        <div class="row field-row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label>Start</label>
                    <input type="text" name="work_experiences_{{work_idx}}_start_date" ng-model="work_experiences[work_idx].start_date" class="form-control start_date" data-parsley-no-focus data-parsley-group="wizard-step-2" ng-blur="saveWorkExperience()" required  />
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <label class="display-block">
                        End  <span class="pull-right">I'm still working here <input type="checkbox" ng-model="work_experiences[work_idx].current" ng-value="1" ng-blur="saveWorkExperience()" /></span>
                    </label>
                    <input type="text" name="work_experiences_{{work_idx}}_end_date" ng-model="work_experiences[work_idx].end_date" class="form-control end_date" data-parsley-no-focus data-parsley-group="wizard-step-2" required ng-disabled="work_experiences[work_idx].current" ng-blur="saveWorkExperience()"  />
                </div>
            </div>
        </div>
        <div class="col-xs-12 p-0" >
          <div class="row ">
            <div class="col-md-6">
              <p>Attachments:</p>
            </div>
            <div class="col-md-6 text-right">
               <button ngf-drop="uploadWorkExperienceSupportingDocs($files, work_experiences[work_idx].id, work_idx)" ngf-select="uploadWorkExperienceSupportingDocs($files, work_experiences[work_idx].id, work_idx)" 
                ngf-drag-over-class="'dragover'" ngf-multiple="true"
                ngf-pattern="'image/*'"
                class="btn btn-xs btn-primary"> <i class="fa fa-paperclip"></i> Add attachment</button>
            </div>
          </div>
          <div class="col-xs-12  p-0" ng-if="work_experiences[work_idx].attachments.length">
              <ul class="no-bullets p-0 m-0 m-t-5">
                  <li class="action-row relative" ng-repeat="(fileIdx, file) in work_experiences[work_idx].attachments">
                      <a class="p-l-4 p-t-2 p-r-5 p-b-2" href="{{file.url}}" fancyboxable="fancyboxOptions">
                          <span class="fa fa-paperclip"></span> <span ng-bind="file.data_file_name | cut:false:30:' ...'"></span>
                      </a>
                      <span class="line-height-16 fa fa-minus-circle text-danger m-l-5" ng-click="deleteWorkExperienceAttachment(work_idx, fileIdx)"></span>
                  </li>
              </ul>
          </div>
        </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
          <label> Job description </label>
          <textarea class="textarea form-control job_description" rows="11" ng-model="work_experiences[work_idx].job_description"  ng-blur="saveWorkExperience()"></textarea>
        </div>   
    </div>

  </div>
</div>