<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <title>Imprezify | Login Page</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="icon" href="<%= image_path('frontend/favicon.ico') %>" type="image/x-icon" />
  <%= stylesheet_link_tag 'application' %>
</head>
<body class="pace-top" ng-app="authentication" ng-controller="SigninController"  style="height: auto">
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<div class="login-cover">
  <div class="login-cover-image"><%= image_tag 'frontend/login-bg/bg-9.jpg', data: {id: 'login-cover-image'} %></div>
  <div class="login-cover-bg"></div>
</div>
<!-- begin #page-container -->
<div id="page-container" class="fade">
  <!-- begin login -->
  <div class="login login-v2" data-pageload-addclass="animated fadeIn">
    <div class="login-content">
      <div class="m-b-20 relative">
        <%= image_tag 'frontend/loginlogo.png', class: 'loginlogo' %>
        <strong class="absolute left-65 bottom--5">Get hired fast.</strong>
      </div>
      <form name="" class="margin-bottom-0" ng-submit="signin()">
        <div class="form-group m-b-20">
          <input type="text" class="form-control input-lg" name="email" ng-model="userForm.email" placeholder="Email Address"/>
        </div>
        <div class="form-group m-b-20">
          <input type="password" class="form-control input-lg" placeholder="Password" name="password" ng-model="userForm.password" />
        </div>
        <div class="checkbox m-b-20">
          <label>
            <input type="checkbox" name="remember_me" /> Remember Me
          </label>
        </div>
        <div class="login-buttons text-center">
          <button type="submit" class="btn btn-success btn-sm">Sign me in</button>
          <a class="btn btn-sm btn-social btn-linkedin" ng-click="signInWithLinkedin()">
            <span class="fa fa-linkedin"></span> Sign in with LinkedIn
          </a>
        </div>
        <div class="m-t-20">
          Not a member yet? Click <%= link_to 'here', signup_path %> to register.
        </div>
      </form>
    </div>
  </div>
  <!-- end login -->
</div>
<script>
    var BASE_API_URL = '<%= BASE_API_URL %>'
</script>
<%= javascript_include_tag 'auth' %>
<!--[if lt IE 9]>
<%= javascript_include_tag 'crossbrowser' %>
<![endif]-->

<script>
  $(document).ready(function () {
    App.init();
    LoginV2.init();
  });
</script>

<script>
    (function() {
        var interakt = document.createElement('script');
        interakt.type = 'text/javascript'; interakt.async = true;
        interakt.src = "//cdn.interakt.co/interakt/dd31c5ebd6b6f9fb20ad18b9777dd460.js";
        var scrpt = document.getElementsByTagName('script')[0];
        scrpt.parentNode.insertBefore(interakt, scrpt);
    })()
</script>
</body>
</html>