<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Imprezify | Coming Soon Page</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="Job searching application" name="description" />
  <meta content="Jonathan Canaveral" name="author" />
  <link rel="icon" href="<%= image_path('frontend/favicon.ico') %>" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <%= stylesheet_link_tag 'coming-soon' %>
</head>
<body class="bg-white p-t-0 pace-top">
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->
<!-- begin #page-container -->
<div id="page-container" class="fade">
  <!-- begin coming-soon -->
  <div class="coming-soon">
    <div class="coming-soon-header">
      <div class="bg-cover"></div>
      <div class="brand">
        <%= image_tag 'frontend/loginlogo.png', style: 'height: 60px; width: auto' %>
      </div>
      <div class="timer">
        <div id="timer"></div>
      </div>
      <div class="container" style="width: 600px;">
        <div class="desc text-left">
          <h4 class="text-white">What is Imprezify?</h4>
          <ul>
            <li>Imprezify is a CV generator app where user is able to generate professional looking CVs</li>
            <li>We will also provide you your personal showcase page where your employer can evaluate you and your application in detail.</li>
            <li>Your showcase page includes Infographic timelines and and video pitch.</li>
            <li>You can keep on track in your job application in real-time statistics and notification, you will know whoever views, download your CV or show interest in you.</li>
          </ul>
          <p>
            These key features will give you an advantage in the position you applying with.
          </p>
        </div>
      </div>
    </div>
    <div class="coming-soon-content">
      <div class="desc">
        We are launching a closed <b>beta</b> soon!<br /> Sign up now and be one of the first 100 users that can have FREE premium access to our services.
      </div>
      <div class="input-group">
        <%= link_to 'Sign Up NOW!', signup_path, class: 'btn btn-info m-b-10' %>
      </div>
      <p>
        Follow us on
        <a href="#"><i class="fa fa-twitter fa-fw"></i> Twitter</a> and
        <a href="#"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
      </p>
    </div>
  </div>
  <!-- end coming-soon -->
</div>
<!-- end page container -->

<%= javascript_include_tag 'coming-soon' %>

<script>
    $(document).ready(function() {
        App.init();
        ComingSoon.init();
    });
</script>

<script>
    (function() {
        var interakt = document.createElement('script');
        interakt.type = 'text/javascript'; interakt.async = true;
        interakt.src = "//cdn.interakt.co/interakt/dd31c5ebd6b6f9fb20ad18b9777dd460.js";
        var scrpt = document.getElementsByTagName('script')[0];
        scrpt.parentNode.insertBefore(interakt, scrpt);
    })()
</script>
</body>
</html>