<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <title>Imprezify | Sign up Page</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="icon" href="<%= image_path('frontend/favicon.ico') %>" type="image/x-icon" />
  <%= stylesheet_link_tag 'application' %>
</head>
<body class="pace-top bg-white" ng-app="authentication" ng-controller="SignupController">
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
  <!-- begin register -->
  <div class="register register-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
      <div class="news-image">
        <%= image_tag 'frontend/login-bg/bg-8.jpg' %>
      </div>
      <div class="news-caption">
        <h4 class="caption-title"><i class="fa fa-edit text-success"></i> Signup Now</h4>
        <p>
          Signup now and be one of the first 100 users to have free premium access to our services. We will notify as soon as we are up.
        </p>
      </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
      <div class="m-b-20 relative m-l-20 m-t-20">
        <%= image_tag 'frontend/sitelogo.png', class: 'loginlogo' %>
        <strong class="absolute left-65 bottom--5">Get hired fast.</strong>
      </div>
      <!-- begin register-header -->
      <h1 class="register-header p-t-10">
        Sign Up
        <small>Create your Color Admin Account. It’s free and always will be.</small>
      </h1>
      <!-- end register-header -->
      <!-- begin register-content -->
      <div class="register-content">
        <form class="margin-bottom-0" name="signupForm" ng-submit="signup()" novalidate>
          <label class="control-label">Email</label>
          <div class="row m-b-15">
            <div class="col-md-12">
              <input type="text" class="form-control" name="email" placeholder="Email address" ng-model="userForm.email" ng-pattern="email_format" />
              <span class="error parsley-errors-list filled" ng-show="signupForm.email.$error.pattern">Invalid email</span>
            </div>
          </div>
          <label class="control-label">Password</label>
          <div class="row m-b-15">
            <div class="col-md-12">
              <input type="password" class="form-control" placeholder="Password" name="password" ng-model="userForm.password" ng-minlength="6" type="password" required />
              <span class="error parsley-errors-list filled" ng-show="signupForm.password.$error.minlength">password should be minimum of 6 characters</span>
            </div>
          </div>
          <label class="control-label">Confirm Password</label>
          <div class="row m-b-15">
            <div class="col-md-12">
              <input type="password" class="form-control" placeholder="Password" name="password_confirmation" ng-model="userForm.password_confirmation" ng-minlength="6" ng-pattern="userForm.password" required />
              <span class="error parsley-errors-list filled" ng-show="signupForm.password_confirmation.$error.pattern">password do not match</span>
            </div>
          </div>


          <div class="checkbox m-b-30">
            <label>
              <input type="checkbox" name="accept" ng-model="agreement_accepted" required /> By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have
              read our <a href="#">Data Policy</a>, including our <a href="#">Cookie Use</a>.
            </label>
          </div>
          <div class="register-buttons">
            <button type="submit" class="btn btn-primary btn-block btn-lg" ng-disabled="signupForm.$invalid && signupForm.$dirty">Sign Up</button>
          </div>
          <div class="m-t-20 m-b-40 p-b-40">
            Already a member? Click <%= link_to 'here', login_path %> to login.
          </div>
          <hr/>
          <p class="text-center text-inverse">
            &copy; Imprezify All Rights Reserved 2017
          </p>
        </form>
      </div>
      <!-- end register-content -->
    </div>
    <!-- end right-content -->
  </div>
  <!-- end register -->s
</div>
<!-- end page container -->
<script>var BASE_API_URL = '<%= BASE_API_URL %>'</script>
<%= javascript_include_tag 'auth' %>
<!--[if lt IE 9]>
<%= javascript_include_tag 'crossbrowser' %>
<![endif]-->

<script>
  AFTER_SIGNUP = '<%= IS_UP ? login_path : root_path %>'
  $(document).ready(function () {
    App.init();
  });
</script>

<script>
    (function() {
        var interakt = document.createElement('script');
        interakt.type = 'text/javascript'; interakt.async = true;
        interakt.src = "//cdn.interakt.co/interakt/dd31c5ebd6b6f9fb20ad18b9777dd460.js";
        var scrpt = document.getElementsByTagName('script')[0];
        scrpt.parentNode.insertBefore(interakt, scrpt);
    })()
</script>
</body>
</html>