<div ng-controller="CharacterReferenceController">
    <h4 class="form-section"><span>Character Reference</span><i class="clearfix"></i></h4>
    <div class="row m-b-20">
        <div class="col-md-12">
            <character-reference-field ng-repeat="(idx, character_reference) in character_references" character-reference-id="{{character_references.id}}" character_reference-idx="{{idx}}" count="{{character_references.length}}" />
            <a class="btn btn-xs btn-success pull-right" ng-click="addCharReferenceFields()"><i class="fa fa-plus"></i> add more</a>
        </div>
    </div>
</div>