<ul class="nav navbar-nav navbar-right">
    <li class="dropdown navbar-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/img/user-13.jpg" alt="" />
            <span class="hidden-xs">Adam Schwartz</span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu animated fadeInLeft">
            <li class="arrow"></li>
            <li><a href="javascript:;">Setting</a></li>
            <li><a href="javascript:;" ng-click="signout()">Log Out</a></li>
        </ul>
    </li>
</ul>
