<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-click="">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar nav -->
    <ul class="nav">
      <li class="nav-header">Navigation</li>
      <li class="has-sub" ng-class="(controller == 'dashboard') ? 'active' : ''">
        <a href="javascript:void(0);">
          <b class="caret pull-right"></b>
          <i class="fa fa-laptop"></i>
          <span class="capitalize">Dashboard</span>
        </a>
        <ul class="sub-menu">
          <li ng-class="(action == 'resumes') ? 'active' : ''"><a class="capitalize" ui-sref="dashboard" ui-sref-opts="{reload: true}">Resumes</a></li>
          <li ng-class="(action == 'letters') ? 'active' : ''"><a class="capitalize" ui-sref="letters" ui-sref-opts="{reload: true}">Cover Letters</a></li>
          <li ng-class="(action == 'pitches') ? 'active' : ''"><a class="capitalize" ui-sref="pitches" ui-sref-opts="{reload: true}">Video Pitches</a></li>
        </ul>
      </li>
      <li class="has-sub editor" ng-class="(controller == 'editor') ? 'active' : ''" ng-show="controller == 'editor'">
        <a href="javascript:void(0);">
          <b class="caret pull-right"></b>
          <i class="fa fa-paragraph"></i>
          <span>Editor</span>
        </a>
        <ul class="sub-menu">
          <li ng-class="(action == 0) ? 'active' : ''"><a ng-click="wizardGotoStep('wizard', 0)" href="javascript:void(0);">Basic Info and Contacts</a></li>
          <li ng-class="(action == 1) ? 'active' : ''"><a ng-click="wizardGotoStep('wizard', 1)" href="javascript:void(0);">Work Experiences and Character References</a></li>
          <li ng-class="(action == 2) ? 'active' : ''"><a ng-click="wizardGotoStep('wizard', 2)" href="javascript:void(0);">Qualifications and Skills</a></li>
          <li ng-class="(action == 3) ? 'active' : ''"><a ng-click="wizardGotoStep('wizard', 3)" href="javascript:void(0);">Educations</a></li>
          <li ng-class="(action == 4) ? 'active' : ''"><a ng-click="wizardGotoStep('wizard', 4)" href="javascript:void(0);">Preview</a></li>
        </ul>
      </li>
      <li class="has-sub editor" ng-class="{'active': action == 'smarteditor'}">
        <a href="javascript:void(0);">
          <b class="caret pull-right"></b>
          <i class="fa fa-paragraph"></i>
          <span>Editor</span>
        </a>
        <ul class="sub-menu">
          <li ng-click="scrollToSection('section-1')" ng-class="{'active' : isSectionActive('section-1') }" class="active"><a  href="javascript:void(0);">Basic Info and Contacts</a></li>
          <li ng-click="scrollToSection('section-2')" ng-class="{'active' : isSectionActive('section-2') }" ><a href="javascript:void(0);">Work Experiences and Character References</a></li>
          <li ng-click="scrollToSection('section-3')" ng-class="{'active' : isSectionActive('section-3') }"><a  href="javascript:void(0);">Qualifications and Skills</a></li>
          <li ng-click="scrollToSection('section-4')" ng-class="{'active' : isSectionActive('section-4') }"><a href="javascript:void(0);">Educations</a></li>
          <li><a href="javascript:void(0);">Customize</a></li>
          <li><a href="javascript:void(0);">Preview</a></li>
        </ul>
      </li>
      <!-- begin sidebar minify button -->
      <li><a href="javascript:void(0);" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->