<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Imprezify</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <%= stylesheet_link_tag 'application' %>
  <link rel="icon" href="<%= image_path('frontend/favicon.ico') %>" type="image/x-icon" />
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'crossbrowser' %>
  <![endif]-->
  <link href="//vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet">
</head>
<body ng-app="dashboard" ng-controller="MainController">
  <!-- begin #page-loader -->
  <div id="page-loader" class="fade in"><span class="spinner"></span></div>
  <!-- end #page-loader -->

  <!-- begin #page-container -->
  <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
      <!-- begin container-fluid -->
      <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
          <a href="<%= root_path %>" class="navbar-brand"><%= image_tag 'frontend/sitelogo.png', height: 30 %></a>
          <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        <%= render partial: 'layouts/dashboard/navigation' %>
      </div>
      <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <%= render partial: 'layouts/dashboard/sidebar_navigation' %>

    <!-- begin #content -->
    <div id="content" class="content">
      <%= render partial: 'layouts/dashboard/breadcrumbs' %>
      <%= yield %>
    </div>
    <!-- end #content -->

    <%#= render partial: 'layouts/dashboard/theme_panel' %>

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
  </div>
  <!-- end page container -->

  <script>
    var BASE_API_URL = '<%= BASE_API_URL %>'
  </script>
  <script src="//vjs.zencdn.net/5.11/video.min.js"></script>
  <script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
  <%= javascript_include_tag 'application' %>

  <script>
    $(document).ready(function() {
      App.init();
    });
  </script>

  <script>
      (function() {
          var interakt = document.createElement('script');
          interakt.type = 'text/javascript'; interakt.async = true;
          interakt.src = "//cdn.interakt.co/interakt/dd31c5ebd6b6f9fb20ad18b9777dd460.js";
          var scrpt = document.getElementsByTagName('script')[0];
          scrpt.parentNode.insertBefore(interakt, scrpt);
      })()
  </script>
</body>
</html>
