<div class="row">
    <div class="col-md-4">
        <div class="form-group block1">
            <label>First Name</label>
            <input type="text"
                   name="fname"
                   ng-model="basic_info.fname"
                   placeholder="John"
                   class="form-control"
                   data-parsley-no-focus data-parsley-group="wizard-step-1"
                   ng-blur="saveBasicInfo()"
                   required
            />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Middle Name</label>
            <input type="text"
                   name="mname"
                   ng-model="basic_info.mname"
                   placeholder="Smith"
                   class="form-control"
                   data-parsley-no-focus data-parsley-group="wizard-step-1"
                   ng-blur="saveBasicInfo()"
                   required/>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="lname"
                   ng-model="basic_info.lname"
                   placeholder="Smith"
                   class="form-control"
                   data-parsley-no-focus data-parsley-group="wizard-step-1"
                   ng-blur="saveBasicInfo()"
                   required/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Address</label>
            <input type="text"
                   name="address"
                   ng-model="basic_info.address"
                   placeholder="Phase 6 Block 156 Lot 49 Montana Hills Ontario, Canada"
                   class="form-control"
                   data-parsley-no-focus data-parsley-group="wizard-step-1"
                   ng-blur="saveBasicInfo()"
                   required/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group block1">
            <label>Position</label>
            <input type="text"
                   name="fname"
                   ng-model="basic_info.position"
                   placeholder="Sale Representative"
                   class="form-control"
                   data-parsley-no-focus data-parsley-group="wizard-step-1"
                   ng-blur="saveBasicInfo()"
            />
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group block1">
              <label>Birthdate {{ classes }}</label>
            <!-- <date-select ng-model="basic_info.birthday"
                         ng-blur="saveBasicInfo()"
            /> -->
            <div class="form-inline">
              <ng-combo-date-picker ng-model="basic_info.birthday" 
                  ng-attrs-date='{"class": "form-control"}' 
                  ng-attrs-month='{"class": "form-control"}' 
                  ng-attrs-year='{"class": "form-control"}'>
              </ng-combo-date-picker>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Age</label>
            <input type="text"
                   name="age"
                   ng-disabled="true"
                   ng-model="basic_info.age"
                   placeholder="29"
                   class="form-control"
                   data-parsley-no-focus data-parsley-group="wizard-step-1"
                   data-parsley-maxlength="2"
                   data-parsley-type="digits"
                   ng-blur="saveBasicInfo()"
                   required
            />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>Profile / Overview</label>
        <textarea rows="10"
                  name="bio_note"
                  class="form-control"
                  ng-model="basic_info.bio_note"
                  placeholder="Tell something about yourself"
                  ng-blur="saveBasicInfo()">
        </textarea>
    </div>
</div>