<div id="user-photos-modal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Primary Photo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2 m-b-10">
                        <div class="add-more-btn"
                             ngf-drop="uploadUserPhotos($files, 1)"
                             ngf-select="uploadUserPhotos($files, 1)"
                             ngf-multiple="true"
                             ngf-pattern="'image/*'">
                              <span>
                                <i class="fa fa-plus"></i><br>
                                Add Photos
                              </span>
                        </div>
                    </div>
                    <div class="col-md-2 m-b-10"
                         ng-repeat="($index, user_photo) in user_photos"
                         ng-mouseover="togglePhotoTool($index, true)"
                         ng-mouseleave="togglePhotoTool($index, false)">
                        <div class="img-container">
                            <img class="user-photo" ng-src="{{user_photo.original}}">
                            <div class="setting-tool" ng-show="user_photo.show_tool">
                                <button type="button" ng-click="setPrimaryPhoto($index, user_photo.id)"
                                        class="set-primary-photo btn btn-circle btn-default btn-sm"><i
                                        class="fa fa-check-circle"></i></button>
                                <button type="button" ng-click="deletePhoto($index, user_photo.id)"
                                        class="remove-photo btn btn-circle btn-default btn-sm"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>