<div class="m-t-30">
  <span class="section-title">Character Reference</span>
  <% character_references.each do |char| %>
    <div class="work_experiences page-break m-t-20">
      <h2>
        <%= char['fname'] || 'missing' %> <%= char['mname'] || 'missing' %> <%= char['fname'] || 'lname' %><br />
        <% unless char['title'].blank? %><small class="m-r-5"><%= char['title'] %></small><% end %><br/>
        <% unless char['address'].blank? %><small class="m-r-5"><%= char['address'] %></small><% end %>
      </h2>
      <% unless char['email'].blank? %><span class="m-r-5 font-1-3em"><i class="fa fa-envelope"></i> <%= char['email'] %></span><% end %>
      <% unless char['phone'].blank? %><span class="m-r-5 font-1-3em"><i class="fa fa-phone-square"></i> <%= char['phone'] %></span><% end %>
      <% unless char['mobile'].blank? %><span class="m-r-5 font-1-3em"><i class="fa fa-mobile-phone"></i> <%= char['mobile'] %></span><% end %>
    </div>
  <% end %>
</div>