<div class="m-t-30">
  <span class="section-title">Education</span>
  <% educations.each do |edu| %>
      <div class="education page-break m-t-20">
        <div class="row">
          <div class="col-md-7">
            <h2 class="p-0 m-0">
              <%= edu['institute'] || 'missing institute name' %><br />
              <small><%= edu['degree'] || 'missing degree name' %></small><br />
            </h2>
          </div>
          <div class="col-md-5 text-right">
            <p class="font-1-3em">
              <i class="fa fa-clock-o"></i> <%= edu['start_date'].to_time.strftime('%m/%d/%Y') rescue 'missing work start' %> - <%= edu['current'] ? 'Present' : edu['end_date'].to_time.strftime('%m/%d/%Y') rescue 'missing work end' %>
            </p>
          </div>
        </div>
        <% unless edu['other_info'].blank? %>
            <h3><strong>Other Info</strong></h3>
            <p>
              <%= edu['other_info'] || 'Please describe your work here' %>
            </p>
        <% end %>
      </div>
  <% end %>
</div>