<div class="m-t-30">
  <span class="section-title">Skills</span>
  <% skills.each do |skill| %>
      <div class="skill page-break m-t-20">
        <h4><%= skill['name'] || 'Please define name for this skill' %></h4>
        <div class="progress">
          <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="<%= skill['rate'] || 0 %>" aria-valuemin="0" aria-valuemax="5" style="width: <%= skill['rate'].to_f.percent_of(5) %>%">
          </div>
        </div>
      </div>
  <% end %>
</div>