<div ng-controller="BasicInfoController">
    <h4 class="form-section">
        <span>My Basic Information</span>
        <i class="clearfix"></i>
    </h4>
    <!-- begin row -->
    <div class="row m-b-20">
        <div class="col-md-2">
            <div ng-include="'angular/dashboard/smarteditor/components/basic_info/partials/_photo.html'"></div>
        </div>
        <div class="col-md-6">
            <div ng-include="'angular/dashboard/smarteditor/components/basic_info/partials/_basic_info_form.html'"></div>
        </div>
        <div class="col-md-4">
            <div ng-controller="ContactInfoController">
                <div class="row">
                    <label class="col-md-5">Contact Name</label>
                    <label class="col-md-7">Value</label>
                </div>
                <contact-selection-field ng-repeat="(idx, contact) in contacts"
                                         contact-id="{{contact.id}}" selected-id="{{contact.name}}"
                                         contact-idx="{{idx}}" count="{{contacts.length}}" />
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-xs btn-success pull-right" ng-click="addContactFields()"><i class="fa fa-plus"></i> add more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'angular/dashboard/smarteditor/components/basic_info/partials/_photo_modal.html'"></div>
</div>