<div id="maincontent">
  <div class="container display-flex ">
    <div class="col-md-8 left-side">
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/header", locals: { basic_info: @tree['basic_info'] } %>
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/work_experiences", locals: { work_experiences: @tree['work_experiences'] } %>
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/education", locals: { educations: @tree['educations'] } %>
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/skills", locals: { skills: @tree['skills'] } %>
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/character_references", locals: { character_references: @tree['character_references'] } %>
    </div>
    <div class="col-md-4 p-0 right-side">
      <div id="photoHolder">
      </div>
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/bio_note", locals: { basic_info: @tree['basic_info'] } %>
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/contacts", locals: { contacts: @tree['contact_info'] } %>
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/qualifications", locals: { qualifications: @tree['qualifications'] } %>
   
    </div>
  </div>
</div>