<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= @tree['name'] %>
  </title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
  <% photo = @tree['photo'] %>
  <!--theme_color1 = #595458 -->
  <!--theme_color2 = #2471ab -->
  <style>
    @import url(https://fonts.googleapis.com/css?family=Anton);
    @import url(https://fonts.googleapis.com/css?family=Cabin);
   @import url(https://fonts.googleapis.com/css?family=Secular+One);
    .font-style-anton {
      font-family: 'Anton', sans-serif;
    }
    .font-style-cabin {
      font-family: 'Cabin', sans-serif;
    }

    .font-style-1{
      font-family: 'Secular One', sans-serif;
    }
    .display-block{
      display: block;
    }
    .display-flex{
      display: -webkit-box; /* wkhtmltopdf uses this one */
      display: -webkit-flex;
      display: flex;
    }
    body {
      font-family: 'Cabin', sans-serif;
      font-size: 1.5em;
      line-height: 1;
    }
    p {
      font-size: 1.5em;
    }
    small{
      color:#777;
    }


    #header {
    }


    .text-white {
      color: #FFF;
    }

    .text-blue {
      color: #2471ab;
    }
    .text-gray {
      color: #777;
    }
    .font-1em {
      font-size: 1em;
    }
    .font-1-5em {
      font-size: 1.5em;
    }
    .font-1-3em {
      font-size: 1.3em;
    }
    .font-2em {
      font-size: 2em;
    }
    .font-3em {
      font-size: 3em;
    }


    #photoHolder {
      width: 100%;
      height: 500px;
      margin: auto auto;
      background-size: cover;
      background: url('file://<%= photo['path'] rescue "" %>') no-repeat center center;
    }

    #contacts {
    }

    .no-bullets, .no-bullets li {
      list-style-type: none;
    }
    .p-0 {
      padding: 0;
    }
    .p-t-4 {
      padding-top: 4px;
    }
    .p-t-10 {
      padding-top: 10px;
    }

    .p-t-20 {
      padding-top: 10px;
    }

    .p-b-4 {
      padding-bottom: 4px;
    }

    .p-l-4em{
      padding-left: 4em;
    }

    .m-0 {
      margin: 0;
    }
    .m-t-20 {
      margin-top: 20px;
    }
    .m-t-30 {
      margin-top: 30px;
    }
    .m-t-30 {
      margin-top: 30px;
    }
    .m-r-5 {
      margin-right: 5px;
    }
    .m-r-10 {
      margin-right: 10px;
    }
    .m-b-10 {
      margin-bottom: 10px;
    }
    .m-b-20 {
      margin-bottom: 20px;
    }
    .display-block{
      display: block;
    }

    .section{
      display: block;
      width: 100%;
      position: relative;
      clear:both; page-break-inside: avoid;
    }

    .section-title {
      text-transform: uppercase;
      font-size: 2em;
      font-family: 'Secular One', sans-serif;
      color: #2471ab;
      border-bottom: 4px solid #595458;
      padding: 5px 0;
      display:block; 
      margin-bottom: .5em;
    }

    .line-break{
      border-bottom: 4px solid #595458;
      padding: 5px 0;
      display:block; 
      margin-bottom: .5em;
    }

    .progress {
      height: 10px;
    }
    .progress-bar {
      background-color: #1A3041 !important;
    }
    #footer {
      background: #BF4141;
      color: #FFF;
      padding: 10px;
    }

    
    .bg-t1{
      background: #595458;
    }
    .bg-t2{
      background: #2471ab;
    }
    .left-side{
      padding: 0 40px 0 0;
    }
    .right-side{
      color: #FFFFFF;
      background: #2471ab;
    }
    .right-side .section{
      padding: 20px 50px;
    }
    .right-side .section-title{
      color: #FFFFFF;
      border-bottom: 5px solid #FFFFFF;
    }

    .page-break { display:block; clear:both; page-break-inside: avoid;}

    .border-b-thin{
      border-bottom: thin solid #DADADA;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }


    .timeline {
      position: relative;
      padding: 20px 0px 10px 4em;
      margin-top: 4px;
    }

    .timeline .line {
      position: absolute;
      width: 4px;
      display: block;
      background: currentColor;
      top: 80px;
      bottom: 5em;
      margin-left: 30px;
    }

    .timeline .separator {
      border-top: 1px solid currentColor;
      padding: 5px;
      padding-left: 40px;
      font-style: italic;
      font-size: .9em;
      margin-left: 30px;
    }

    .timeline .line::before { top: -4px; }
    .timeline .line::after { bottom: -4px; }
    .timeline .line::before,
    .timeline .line::after {
      content: '';
      position: absolute;
      left: -4px;
      width: 12px;
      height: 12px;
      display: block;
      border-radius: 50%;
      background: currentColor;
    }

    .timeline .panel {
      position: relative;
      margin: 10px 0px 21px 90px;
      clear: both;
    }

    .timeline .panel::before {
      position: absolute;
      display: block;
      top: 8px;
      left: -24px;
      content: '';
      width: 0px;
      height: 0px;
      border: inherit;
      border-width: 12px;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    .timeline .panel .panel-heading.icon * { 
      font-size: 40px;
      vertical-align: middle;
      line-height: 75px;
    }
    .timeline .panel .panel-heading.icon {
      position: absolute;
      left: -100px;
      display: block;
      width: 80px;
      height: 80px;
      padding: 0px;
      border-radius: 50%;
      text-align: center;
      float: left;
      top: -15px;
    }

    .timeline .panel-outline {
      border-color: transparent;
      background: transparent;
      box-shadow: none;
      border-bottom: thin solid #DADADA;
      padding-bottom: 20px;
    }

    .timeline .panel-outline .panel-body {
      padding: 10px 0px;
    }

    .timeline .panel-outline .panel-heading:not(.icon),
    .timeline .panel-outline .panel-footer {
      display: none;
    }
    .text-muted{
      color: #dadada;
    }

  </style>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<%= yield %>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.skill-rating').each(function(k, elem){
      $(elem).rateYo({
        rating: $(elem).data('rate'),
        ratedFill: "#2471ab",
        spacing: '5px',
        starWidth: "20px"
      })
    })
  })
</script>

</body>
</html>
