<%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/header", locals: { basic_info: @tree['basic_info'] } %>
<%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/contacts", locals: { contacts: @tree['contact_info'] } %>
<div id="maincontent" class="m-t-30">
  <div class="container">
    <div class="col-md-7">
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/work_experiences", locals: { work_experiences: @tree['work_experiences'] } %>
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/education", locals: { educations: @tree['educations'] } %>
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/character_references", locals: { character_references: @tree['character_references'] } %>
    </div>
    <div class="col-md-5">
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/skills", locals: { skills: @tree['skills'] } %>
      <%= render partial: "previews/resume_templates/#{@tree['template_id']}/partials/qualifications", locals: { qualifications: @tree['qualifications'] } %>
    </div>
  </div>
</div>