<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= @tree['name'] %>
  </title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <% photo = @tree['photo'] %>
  <style>
    @import url(https://fonts.googleapis.com/css?family=Anton);
    @import url(https://fonts.googleapis.com/css?family=Cabin);
    .font-style-anton {
      font-family: 'Anton', sans-serif;
    }
    .font-style-cabin {
      font-family: 'Cabin', sans-serif;
    }
    body {
      font-family: 'Cabin', sans-serif;
      font-size: 1.5em;
    }
    p {
      font-size: 1.5em;
    }
    #header {
      background: #348FE2;
      color: #FFF;
      padding: 20px;
    }

    .text-white {
      color: #FFF;
    }

    .text-blue {
      color: #1A3041;
    }
    .font-1em {
      font-size: 1em;
    }
    .font-1-5em {
      font-size: 1.5em;
    }
    .font-1-3em {
      font-size: 1.3em;
    }
    .font-2em {
      font-size: 2em;
    }
    .font-3em {
      font-size: 3em;
    }

    #photoHolder {
      width: 250px;
      height: 250px;
      border: 1px solid #1A3041;
      margin: auto auto;
      background-size: cover;
      background: url('file://<%= photo ? photo['path'] : "" %>') no-repeat center center;
    }

    #contacts {
      background: #2673b7;
      padding: 8px 0;
    }

    .no-bullets, .no-bullets li {
      list-style-type: none;
    }
    .p-0 {
      padding: 0;
    }
    .p-t-4 {
      padding-top: 4px;
    }

    .p-b-4 {
      padding-bottom: 4px;
    }
    .m-0 {
      margin: 0;
    }
    .m-t-20 {
      margin-top: 20px;
    }
    .m-t-30 {
      margin-top: 30px;
    }
    .m-r-5 {
      margin-right: 5px;
    }
    .m-r-10 {
      margin-right: 10px;
    }

    .section-title {
      font-size: 2.5em;
      font-family: 'Cabin', sans-serif;
      color: #1A3041;
      border-bottom: 5px solid #1A3041;
      padding: 5px 0;
      display:block; clear:both; page-break-inside: avoid
    }
    .progress {
      height: 10px;
    }
    .progress-bar {
      background-color: #1A3041 !important;
    }
    #footer {
      background: #BF4141;
      color: #FFF;
      padding: 10px;
    }

    .page-break { display:block; clear:both; page-break-inside: avoid; }
  </style>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<%= yield %>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
</script>

</body>
</html>
