<div class="section m-t-30 ">
  <span class="section-title">Character Reference</span>
  <% character_references.each do |char| %>
    <div class="work_experiences page-break m-t-20 p-l-4em">
      <span class="font-1-5em display-block m-b-10">
        <%= char['fname'] || 'missing' %> <%= char['mname'] || 'missing' %> <%= char['fname'] || 'lname' %>
      </span>
      <% unless char['title'].blank? %><span class="font-1-3em text-gray display-block m-b-10"><%= char['title'] %></span><% end %>
      <% unless char['address'].blank? %><span class="font-1-3em text-gray display-block m-b-10"><%= char['address'] %></span><% end %>
      <% unless char['email'].blank? %><span class="m-r-5 font-1-3em display-block m-b-10"><i class="fa fa-envelope"></i> <%= char['email'] %></span><% end %>
      <% unless char['phone'].blank? %><span class="m-r-5 font-1-3em display-block m-b-10"><i class="fa fa-phone-square"></i> <%= char['phone'] %></span><% end %>
      <% unless char['mobile'].blank? %><span class="m-r-5 font-1-3em display-block m-b-10"><i class="fa fa-mobile-phone"></i> <%= char['mobile'] %></span><% end %>
      <div class="border-b-thin"></div>
    </div>
  <% end %>
</div>