<div class="section" id="contacts">
  <span class="section-title">Contact Me</span>
  <div class="row">
    <div class="col-md-12 page-break">
      <p class="font-1-3em">
        <span class="fa fa-envelope m-r-5"></span> 
        <span><%= contacts.select {|x| x['name'] == 'Email'}.first['value'] rescue 'missing' %></span>
      </p>
    </div>
    <div class="col-md-12 page-break">
      <p class="font-1-3em"><span class="fa fa-phone m-r-5"></span> <span><%= contacts.select {|x| x['name'] == 'Mobile'}.first['value'] rescue 'missing' %></span></p>
    </div>
    <div class="col-md-12 page-break">
      <p class="font-1-3em"><span class="fa fa-skype m-r-5"></span> <span><%= contacts.select {|x| x['name'] == 'Skype'}.first['value'] rescue 'missing' %></span></p>
    </div>
    <div class="col-md-12 page-break">
      <p class="font-1-3em"><span class="fa fa-linkedin m-r-5"></span> <span><%= contacts.select {|x| x['name'] == 'LinkedIn'}.first['value'] rescue 'missing' %></span></p>
    </div>
  </div>
</div>
