<div class="section m-t-30">
  <span class="section-title">Education</span>
  <% educations.each do |edu| %>
      <div class="education page-break m-t-20 p-l-4em ">
        <div class="row">
          <div class="col-md-12">
            <p class="font-1-3em">
              <strong><%= edu['institute'] || 'missing institute name' %></strong> / 
              <span class="text-gray">
                <%= edu['start_date'].to_time.strftime('%m/%d/%Y') rescue 'missing work start' %> - <%= edu['current'] ? 'Present' : edu['end_date'].to_time.strftime('%m/%d/%Y') rescue 'missing work end' %>
              </span>
            </p>
            <p>
              <%= edu['degree'] || 'missing degree name' %></small>
            </p>
             <% unless edu['other_info'].blank? %>
                <p class="text-gray text-justify font-1-3em">
                <%= edu['other_info'] || 'Please describe your work here' %>
              </p>
            <% end %>
            <div class="border-b-thin"></div>
          </div>
        </div>
       
      </div>
  <% end %>
</div>