<div id="header">
  <div class="section">
      <h1 class="font-3em font-style-1 text-uppercase m-0">
        <%= basic_info['fname'] || 'missing' %> <%= basic_info['mname'] || 'missing' %> <%= basic_info['lname'] || 'missing' %>
      </h1>
      <span class="font-1-5em display-block font-style-1 text-blue text-uppercase m-0"><%= basic_info['position'] || 'missing' %></span>
      <div class="line-break"></div>
      <p class="font-1-3em">
        <i class="fa fa-address-book" aria-hidden="true"></i> <%= basic_info['address'] || 'missing' %>
      </p>
  </div>
</div>