<div class="section">
	<span class="section-title">Qualifications</span>
	<% qualifications.each do |qual| %>
	    <div class="qualification page-break m-t-20 p-t-20 ">
        <strong class="display-block font-1-3em m-b-10"> <i class="fa fa-check" aria-hidden="true"></i> <%= qual['name'] || 'missing qualification name' %></strong>
	      <% unless qual['start_date'].blank? %>
	        <p class="font-1-3em"> <%= qual['start_date'].to_time.strftime('%m/%d/%Y') rescue 'missing start' %> - <%= qual['end_date'].to_time.strftime('%m/%d/%Y') rescue 'missing end' %></p>
	      <% end %>
	      <p class="font-1-3em"><%= qual['description'] || 'missing qualification description' %></p>
	    </div>
	<% end %>
</div>