<div class="section m-t-30">
  <span class="section-title">Skills</span>
  <% skills.each do |skill| %>
      <div class="row p-l-4em">
        <div class="skill page-break col-xs-12 p-0 m-t-20">
          <div class="col-xs-6">
            <span class="font-1-3em"><%= skill['name'] || 'Please define name for this skill' %></span>
          </div>
          <div class="col-xs-6">
            <span class="skill-rating pull-right" data-rate="<%= skill['rate'] %>"></span>
          </div>
        </div>
      </div>
  <% end %>
</div>