<div class="section m-t-30">
  <span class="section-title">Work Experience</span>

  <div class="page-break"></div>
 <!-- Timeline -->
    <div class="timeline">
    
        <!-- Line component -->
        <div class="line text-muted"></div>

        <% work_experiences.each do |exp| %>
            <!-- Panel -->
            <article class="panel panel-primary panel-outline page-break" >
                <!-- Icon -->
                <div class="panel-heading icon">
                    <i class="fa fa-check"></i>
                </div>
                <!-- /Icon -->
        
                <!-- Heading -->
                 <div class="work_experiences page-break">
                    <div class="row">
                      <div class="col-xs-12">
                        <p class="font-1-3em text-blue">
                          <strong> <%= exp['company_name'] || 'missing company name' %> </strong> 
                        </p>
                      </div>
                      <div class="col-xs-12">
                        <strong class="font-1-3em"><%= exp['work_title'] || 'missing work title' %></strong> /
                        <span class="text-gray font-1-3em">
                          <%= exp['start_date'].to_time.strftime('%m/%d/%Y') rescue 'missing work start' %> - <%= exp['current'] ? 'Present' : exp['end_date'].to_time.strftime('%m/%d/%Y') rescue 'missing work end' %>
                        </span>
                      </div>
                    </div>
                    <% if exp['job_description'].present? %>
                    <p class="text-gray font-1-3em m-t-20 text-justify">
                      <%= exp['job_description'] || 'Please describe your work here' %>
                    </p>
                    <% end %>
                  </div>
            </article>
            <!-- /Panel -->
        <% end %>

    
    
    </div>
    <!-- /Timeline -->

</div>