<div ng-controller="WorkExperienceController">
    <h4 class="form-section">
    	<span>Work Experiences</span>
    	<i class="clearfix"></i>
    </h4>
    <div class="row m-b-20">
        <div class="col-md-12">
            <work-experience-field ng-repeat="(idx, work_experience) in work_experiences" work-id="{{work_experience.id}}" work-idx="{{idx}}" count="{{work_experiences.length}}" />
            <a class="btn btn-xs btn-success pull-right" ng-click="addWorkExperienceFields()"><i class="fa fa-plus"></i> add more</a>
        </div>
    </div>

</div>