<div id="formTabs" hl-sticky="" offset-top="{{smarteditor_menu_offset}}">
    <ul class="row nav m-0 p-0 no-bullets">
        <li ng-click="scrollToSection('basic_info')" data-scrollspy-listen="basic_info" class="col-xs-2 pointer active">
            <i class="fa fa-id-card menu-icon"></i> <span class="menu-title">Basic Info and Contacts</span>
            <small class="menu-description">Your basic personal information and contacts</small>
        </li>
        <li ng-click="scrollToSection('work_experience')" data-scrollspy-listen="work_experience" class="col-xs-2 pointer">
            <i class="fa fa-address-book menu-icon"></i><span class="menu-title">Experience and References</span>
            <small class="menu-description">Your job history and character references</small>
        </li>
        <li ng-click="scrollToSection('qualification')" data-scrollspy-listen="qualification" class="col-xs-2 pointer">
            <i class="fa fa-superpowers menu-icon"></i><span class="menu-title">Qualifications and Skills</span>
            <small class="menu-description">Qualifications, Skills, Seminars, Trainings, Awards and etc.</small>
        </li>
        <li ng-click="scrollToSection('education')" data-scrollspy-listen="education" class="col-xs-2 pointer">
            <i class="fa fa-graduation-cap menu-icon"></i> <span class="menu-title">  Educations</span>
            <small class="menu-description">Primary, Secondary, Tertiary, Masteral, Doctorates and etc</small>
        </li>
        <li class="col-xs-2 pointer">
            <i class="fa fa-cogs menu-icon"></i> <span class="menu-title">  Customize</span>
            <small class="menu-description">Almost done</small>
        </li>
        <li class="col-xs-2 pointer">
            <i class="fa fa-newspaper-o menu-icon"></i> <span class="menu-title">  Publish</span>
            <small class="menu-description">You're all set</small>
        </li>
    </ul>
</div>