
.slide {
  -webkit-transition: -webkit-transform .7s ease-in-out;
  -moz-transition: -moz-transform .7s ease-in-out;
  -o-transition: -o-transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide.ng-enter {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide.ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.capitalize {
  text-transform: capitalize;
}

.input-action {
  display: none;
  cursor: pointer;
}

.action-row:hover .input-action {
  display: block;
}

.width-90 {
  width: 90%;
}

.no-border {
  border: 0
}

.btn-no-bg {
  background: none;
}

.btn-no-bg:hover {
  background: none
}

.border-radius-4 {
  border-radius: 4px !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.right--30 {
  right: -30px;
}

.right--15 {
  right: -15px;
}

.left {
  left: 0;
}

.left-65 {
  left: 65px;
}

.bottom {
  bottom: 0;
}
.bottom--5 {
  bottom: -5px;
}

.right {
  right: 0;
}
.right-10 {
  right: 10px;
}

.top {
  top: 0;
}

.top-10 {
  top: 10px;
}


.top-2 {
  top: 2px;
}

.display-block {
  display: block;
}
.line-height-16 {
  line-height: 16px
}
.line-height-37 {
  line-height: 37px;
}

.line-height-33 {
  line-height: 33px;
}

.drop-box {
  text-align: center;
  border: 1px dashed #DDD;
}

.gritter-image {
  width: 30px;
  height: 30px;
}

.gritter-item, .gritter-top, .gritter-bottom {
  background: #FFF !important;
}

.notify_success * {
  color: #3BB54A !important;
}
.notify_success .gritter-close {
  background: #3BB54A !important
}

.notify_success {
  border: 2px solid #3BB54A;
}

.notify_error * {
  color: #D85449 !important;
}

.notify_error {
  border: 2px solid #D85449;
}

.notify_error .gritter-close {
  background: #D85449 !important
}

.width-80-percent {
  width: 80% !important;
}

.border-light-grey {
  border: 1px solid #f4f6f7;
}

.text-light-grey {
  color: #D3DADF !important;
}

.no-bullets, .no-bullets li {
  list-style-type: none !important;
}

.no-text-decoration:hover {
  text-decoration: none !important;
}

.pointer {
  cursor: pointer !important;
}

.sitelogo {
  display: block;
  width: 224px;
  margin: 0 auto;
}

.siteslogan {
  bottom: -10px;
  right: 95px;
}

.bwizard-steps .active {
  background: #348fe2 !important;
}
.bwizard-steps li.active, .bwizard-steps li.active:focus, .bwizard-steps li.active:hover {
  background: #348fe2 !important;
}

.loginlogo {
  height: 40px;
  width: auto;
}

.coming-soon-header {
  background: image-url('frontend/gallery/gallery-10.jpg') !important;
}

.has_preloader {
  background: transparent image-url('frontend/loading.gif') no-repeat center top;
  min-height: 400px;
}

#cssEditor {
  min-height: 400px;
  width: 100%;
}
.w-20{
  width: 20%;
}

.chararacter-references-field{
  .char-reference {
    .title, .contact-info {
      display: block;
      margin-bottom: 2px;
      font-size: 10px;
      font-weight: 300;
      color: #7c7f83;
    }
  }
}

.add-more-btn{
  height: 130px;
  border: dashed thin #CCC;
  text-align: center;
  padding-top: 40px;
  &:hover{
    cursor: pointer;
  }
  *{
    vertical-align: middle;
  }
}


.colorpicker {
  z-index: 9999;
}
#header.navbar-fixed-top .white_logo {
  display: block;
}
#header.navbar-fixed-top .blue_logo {
  display: none;
}
#header.navbar-fixed-top.navbar-small .white_logo {
  display: none;
}
#header.navbar-fixed-top.navbar-small .blue_logo {
  display: block;
}

.modal{
  z-index: 1049;
}

/** _basic_info.html **/
.photo-primary-container{
  height: 200px;
  width: 100%;
  border: thin solid #dedede;
  border-bottom: 0;
  img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

#user-photos-modal{
  .setting-tool{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;
    .remove-photo {
      position: absolute;
      top: 4px;
      right: 4px;
    }
    .set-primary-photo {
      position: absolute;
      bottom: 4px;
      right: 4px;
    }
  }

  .img-container{
    height: 130px;
    overflow: hidden;
    position: relative;
    *{ vertical-align: middle;}
    .user-photo{
      height: 100%;
      width: auto;
      position: absolute;
       left: 50%;
       top: 50%;
       -webkit-transform: translateY(-50%) translateX(-50%);



    }
  }
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #FFF !important;
}

.vertical-tabs{
  .nav-stacked{
    float: left;
    width: 20%;
    padding-right: 3%;
    border-right: solid thin #DEDEDE;
  }
  .tab-content{
    float: right;
    width: 75%;
  }
}
.video-js {
  margin: auto auto;
}
.vjs-device-button.vjs-control {
  top: 45% !important;
  left: 43% !important;
}

.video-js .vjs-control {
  height: auto !important;
}

#video_list li div > span.title {
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

.m-auto {
  margin: auto auto;
}

.no-text-decoration:hover {
  text-decoration: none;
}

.photo-primary {
  display: block;
  width: 100%;
  height: auto;
}

#resumeTemplateModal .modal-content {
  background: transparent !important;
  box-shadow: none !important;
}

.resume_name_field {
  width: 30%;
  margin: auto auto;
}

#formTabs ul > li.active {
  color: #FFF;
  background: #348fe2;
}
#formTabs ul > li {
  padding: 20px;
  color: #707478;
  background: #f0f3f4;
  height: 110px;
  max-height: 110px;
  overflow: hidden;
}
#formTabs ul li > span:first-child {
  display: block;
  font-size: 14px;
}
#formTabs ul li > small:first-child {
  margin-left: 27px;
}
#formTabs ul li {
  .menu-icon{
    margin-right: 5px;
  }
  .menu-description{
    display: block;
  }
  
}

.select2-container--default .select2-selection--single{
  height: 40px !important;
  border: 1px solid #ccd0d4 !important;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.form-section {
  border-bottom: 3px solid #707478;
  span {
    background: #707478;
    color: #FFF;
    padding: 5px;
    display: block;
    float: left;
  }
}

@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 1199px) and (min-width: 980px){
  #formTabs{
    ul > li{
      padding: 10px;
      text-align: center;
      height: 85px;

      .menu-icon{
        font-size: 2em;
        display: block;
        margin-bottom: 5px;
      }
      .menu-description{
        display: none;
      }
    }
    
  }
}

@media only screen and (max-width : 979px){
  #formTabs{
    ul > li{
      padding: 10px;
      text-align: center;
      height: 45px;

      .menu-icon{
        font-size: 2em;
        display: block;
        margin-bottom: 5px;
      }

      .menu-title{
        display: none;
      }

      .menu-description{
        display: none;
      }

    }
    
  }
}

@media only screen and (max-width : 767px){
 
}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}