<div class="page-break">
  <div id="contacts">
    <div class="container">
      <div class="row">
        <div class="text-white col-md-3 text-center">
          <span class="fa fa-envelope fa-2x"></span> <span class="font-1-5em"><%= contacts.select {|x| x['name'] == 'Email'}.first['value'] rescue 'missing' %></span>
        </div>
        <div class="text-white  col-md-3 text-center">
          <span class="fa fa-phone fa-2x"></span> <span class="font-1-5em"><%= contacts.select {|x| x['name'] == 'Mobile'}.first['value'] rescue 'missing' %></span>
        </div>
        <div class="text-white  col-md-3 text-center">
          <span class="fa fa-skype fa-2x"></span> <span class="font-1-5em"><%= contacts.select {|x| x['name'] == 'Skype'}.first['value'] rescue 'missing' %></span>
        </div>
        <div class="text-white  col-md-3 text-center">
          <span class="fa fa-linkedin fa-2x"></span> <span class="font-1-5em"><%= contacts.select {|x| x['name'] == 'LinkedIn'}.first['value'] rescue 'missing' %></span>
        </div>
      </div>
    </div>
  </div>
</div>
