<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="font-3em font-style-anton">
          <%= basic_info['fname'] || 'missing' %> <%= basic_info['mname'] || 'missing' %> <%= basic_info['lname'] || 'missing' %>
          <br/>
          <small class="text-blue"><%= basic_info['position'] || 'missing' %></small>
        </h1>
        <i class="text-white font-1-5em">
          <%= basic_info['bio_note'] || 'missing' %>
        </i>
      </div>
      <div class="col-md-4">
        <div id="photoHolder">
        </div>
      </div>
    </div>
  </div>
</div>