<div class="m-t-30">
<span class="section-title">Achievements</span>
<% qualifications.each do |qual| %>
    <div class="qualification page-break m-t-20">
      <h3 class="p-0 m-0">
        <strong><%= qual['name'] || 'missing qualification name' %></strong><br />
      </h3>
      <% unless qual['start_date'].blank? %>
        <p class="font-1-3em"><i class="fa fa-clock-o"></i> <%= qual['start_date'].to_time.strftime('%m/%d/%Y') rescue 'missing start' %> - <%= qual['end_date'].to_time.strftime('%m/%d/%Y') rescue 'missing end' %></p>
      <% end %>
      <p><%= qual['description'] || 'missing qualification description' %></p>
    </div>
<% end %>
</div>