<div class="m-t-30">
  <span class="section-title">Work Experience</span>
  <% work_experiences.each do |exp| %>
      <div class="work_experiences page-break m-t-20">
        <div class="row">
          <div class="col-md-7">
            <h2 class="m-0 p-0">
              <%= exp['company_name'] || 'missing company name' %><br />
              <small><%= exp['work_title'] || 'missing work title' %></small>
            </h2>
          </div>
          <div class="col-md-5 text-right">
            <p class="font-1-3em">
              <i class="fa fa-clock-o"></i> <%= exp['start_date'].to_time.strftime('%m/%d/%Y') rescue 'missing work start' %> - <%= exp['current'] ? 'Present' : exp['end_date'].to_time.strftime('%m/%d/%Y') rescue 'missing work end' %>
            </p>
          </div>
        </div>
        <h3><strong>Task</strong></h3>
        <p>
          <%= exp['job_description'] || 'Please describe your work here' %>
        </p>
      </div>
  <% end %>
</div>