<div ui-view>
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                                class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                                class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                           data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Cover Letter
                        <button class="m-l-10 btn btn-primary btn-xs m-r-5" ng-click="preCreateCoverLetter()">
                            Create
                        </button>
                    </h4>
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-bordered nowrap" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Attached to resume:</th>
                            <th>Date Created</th>
                            <th>Last Updated</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="cover_letter in cover_letters">
                            <td><a class="pointer" ng-click="selectCoverLetter(cover_letter.id)" ng-bind="cover_letter.name"></a></td>
                            <td ng-bind="cover_letter.resume.name || '**Not attached yet**'"></td>
                            <td ng-bind="cover_letter.created_at | date : short"></td>
                            <td ng-bind="cover_letter.updated_at | date : short"></td>
                            <td>
                                <span class="pull-left">
                                    <a ng-click="selectCoverLetter(cover_letter.id)" class="m-r-5 no-text-decoration pointer"><i class="fa fa-pencil"></i> edit</a>
                                    <a ng-click="deleteCoverLetter(cover_letter.id)" class="text-danger no-text-decoration pointer"><i class="fa fa-times-circle"></i> delete</a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-10 -->
    </div>

    <div class="modal fade" id="create_cover_letter">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Modal Dialog</h4>
                </div>
                <div class="modal-body">
                    <form name="coverLetterForm" novalidate ng-submit="saveCoverLetter()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                     <div class="form-group">
                                        <label> Name: </label>
                                        <input ng-model="cover_letter.name" class="form-control" type="" name="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                     <div class="form-group">
                                        <label> Attach to Resume: </label>
                                        <select  ng-model="cover_letter.resume_id" class="form-control"
                                                ng-options="i.id as i.name for i in resumes">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h5>Address to:</h5>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Name: </label>
                                        <input ng-model="cover_letter.address_to_name" class="form-control" type="" name="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Gender: </label>
                                        <select ng-model="cover_letter.address_to_gender"  class="form-control">
                                            <option>Mr</option>
                                            <option>Ms</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Title: </label>
                                        <input ng-model="cover_letter.address_to_title" class="form-control" type="" name="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Organization / Company: </label>
                                        <input ng-model="cover_letter.address_to_organization" class="form-control" type="" name="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label> Address: </label>
                                        <input ng-model="cover_letter.address_to_address" class="form-control" type="" name="">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label> Content: </label>
                                        <textarea ng-model="cover_letter.content" class="form-control" rows="10"></textarea>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-success pull-right" ng-click="coverLetterForm.$submit()">
                            {{save_method == 0 ? 'Create' : 'Update'}}
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>