<div ui-view>
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                                class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                                class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                           data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Resumes
                        <button class="m-l-10 btn btn-primary btn-xs m-r-5" data-toggle="modal" data-target="#resumeTemplateModal">
                            Create
                        </button>
                    </h4>
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-bordered nowrap" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Views</th>
                            <th>Downloads</th>
                            <th>Date Created</th>
                            <th>Last viewed by</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="resume in resumes">
                            <td><a ui-sref="smarteditor({ id: resume.id })" ui-sref-opts="{reload: true}" ng-bind="resume.name"></a></td>
                            <td ng-bind="resume.views"></td>
                            <td ng-bind="resume.downloads"></td>
                            <td ng-bind="resume.created_at"></td>
                            <td ng-bind="resume.last_viewed_by"></td>
                            <td ng-bind="resume.status"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-10 -->
    </div>
    <resume-selection />
    <div class="modal fade" id="create_resume">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Modal Dialog</h4>
                </div>
                <div class="modal-body">
                    <form name="resumeForm" novalidate ng-submit="createResume()">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-3 control-label">Name</label>
                                <div class="col-md-9">
                                    <input type="text" ng-model="resume.name" class="form-control" placeholder="resume name">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-success pull-right" ng-click="resumeForm.$submit()">Create</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>