<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <button class="btn btn-info btn-xs" data-toggle="modal"
                            data-target="#videoRecorderModal">Record new pitch
                    </button>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                            class="fa fa-expand"></i></a></a>
                </div>
                <h4 class="panel-title">Video Pitches</h4>
            </div>
            <div class="panel-body">
                <h4 ng-bind="video.video_file_name" ng-if="video" class="m-l-10"></h4>
                <div class="row" style="min-height: 500px">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="wrapper">
                            <div class="videocontent">
                                <video id="player" ng-show="video" class="video-js vjs-default-skin vjs-4-3 vjs-big-play-centered" controls preload="auto" width="800" height="600" data-setup='{ "playbackRates": [0.5, 1, 1.5, 2],"loopbutton": true, "fluid": true  }'>
                                    <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
                                    <source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm'>
                                </video>
                            </div>
                        </div>
                        <div class="text-center" ng-if="videos.length == 0">
                            <p><span class="m-r-20 font-20">Make your first video pitch</span>
                                <button class="btn btn-info btn-sm" data-toggle="modal"
                                        data-target="#videoRecorderModal">Create
                                </button>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 m-t-5">
                        <div class="tracks m-auto width-full">
                            <ul id="video_list" class="no-bullets p-0 m-0" ng-if="videos.length > 0">
                                <li ng-repeat="video in videos" class="m-t-10" ng-click="getVideo($index)">
                                    <div class="row">
                                        <div class="col-md-5 relative">
                                            <span ng-if="video.is_primary" class="label label-success absolute" style="bottom: 3px; right: 0px"><i class="fa fa-check-circle"></i> Primary</span>
                                            <image src="{{video.thumb}}" class="block thumb"/>
                                        </div>
                                        <div class="col-md-7">
                                            <span class="title" ng-bind="video.video_file_name"></span><br />
                                            <span ng-bind="video.video_content_type"></span><br/>
                                            <span ng-bind="video.created_at | date: 'medium'"></span><br/>
                                            <span ng-bind="video.duration"></span><br />
                                             <span>
                                                <a class="no-text-decoration" ng-if="video.is_primary == false" href="javascript:void(0)" ng-click="setAsPrimary($index)">Set as Primary <span class="m-l-2 m-r-2">|</a></a>
                                                <a class="text-danger" href="javascript:void(0)" ng-click="deleteVideo($index)">Delete</a>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="videoRecorderModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-body p-0 m-0">
                <ng-video-recorder/>
            </div>
        </div>
    </div>
</div>