<div ui-view>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a></a>
                    </div>
                    <h4 class="panel-title">Smart Editor</h4>
                </div>
                <div class="panel-body">
                    <div ng-include="'/angular/dashboard/smarteditor/components/_tabs.html'"></div>
                    <form id="smarteditor" class="forms">
                        <div id="basic_info" data-scrollspy-broadcast ng-include="'angular/dashboard/smarteditor/components/basic_info/basic_info.html'"></div>
                        <div id="work_experience" data-scrollspy-broadcast data-scrollspy-offset="100" ng-include="'angular/dashboard/smarteditor/components/work_experience/work_experience.html'"></div>
                        <div id="qualification" data-scrollspy-broadcast data-scrollspy-offset="100" ng-include="'angular/dashboard/smarteditor/components/qualification/qualification.html'"></div>
                        <div id="education" data-scrollspy-broadcast data-scrollspy-offset="100" ng-include="'angular/dashboard/smarteditor/components/education/education.html'"></div>
                        <div id="character_reference" data-scrollspy-broadcast data-scrollspy-offset="100" ng-include="'angular/dashboard/smarteditor/components/character_reference/character_reference.html'"></div>
                    </form>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <button ng-click="toCustomize()" class="btn btn-info btn-block">Continue <span class="fa fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
