<div ng-controller="EducationController">
    <h4 class="form-section"><span>Educations</span><i class="clearfix"></i></h4>
    <div class="row m-b-20">
        <div class="col-md-12">
            <education-field ng-repeat="(idx, education) in educations" education-id="{{education.id}}" education-idx="{{idx}}" count="{{educations.length}}" />
            <a class="btn btn-xs btn-success pull-right" ng-click="addEducationFields()"><i class="fa fa-plus"></i> add more</a>
        </div>
    </div>
</div>