<!DOCTYPE html>
<html>
<head>
  <title>Updatedcv</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="icon" href="<%= image_path('frontend/favicon.ico') %>" type="image/x-icon" />
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
    (function() {
        var interakt = document.createElement('script');
        interakt.type = 'text/javascript'; interakt.async = true;
        interakt.src = "//cdn.interakt.co/interakt/dd31c5ebd6b6f9fb20ad18b9777dd460.js";
        var scrpt = document.getElementsByTagName('script')[0];
        scrpt.parentNode.insertBefore(interakt, scrpt);
    })()
</script>
</body>
</html>
